.navigation {
    margin-left: auto;
}

.navigation__list {
    display: flex;

}

.navigation__item {
    display: inline-block;
    margin-right: 24px;
}

.navigation__item:nth-last-child(1) {
    margin-right: 0;
}

.navigation__link {
    text-decoration: none;
    color: var(--grey_3);
}

.navigation__link--active {
    color: var(--black);
}

@media only screen and (max-width: 768px) {

    .navigation {
        display: none;
    }

}