@import '../fonts/fonts.css';

* {
    font-family: 'Inter Regular', 'Roboto Thin';
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --blue: #4263EB;
    --dark_blue: #2342C0;
    --red: #F03D3E;
    --grey_1: #F8F9FA;
    --grey_2: #DDE2E5;
    --grey_3: #ACB5BD;
    --grey_4: #495057;
    --dove: #F9FAFC;
    --background-for-sceleton: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);

    --dark-sea-blue:  #334D6E;
    --shadow: rgba(33, 36, 41, 0.05);

    --light-blue: rgba(160, 177, 245, 0.4);

    --primary: var(--blue);
    --secondary: var(--purple);

    --grey-5: rgba(144, 160, 183, .4);

}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.wrapper__template {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";

}

.container {
    max-width: 1110px;
    margin: auto;
}

.container__template {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --blue: #4263EB;
    --dark_blue: #2342C0;
    --red: #F03D3E;
    --grey_1: #F8F9FA;
    --grey_2: #DDE2E5;
    --grey_3: #ACB5BD;
    --grey_4: #495057;

    --primary: var(--blue);
    --secondary: var(--purple);

}
